<!DOCTYPE html>
<!--created February 20, 2016 by Christian Seremetis and Gayeon Park-->


<html>
<head>

	<title>HackRHS 2016</title>

	<!--metadata-->
	<meta name="charset" content="UTF-8">
	<meta name="keywords" content="HackRHS, code, student, sponsor">
	<meta name="author" content="Christian Seremetis">
	<meta name="dcterms.rightsHolder" content="HackRHS">
	<meta name="dcterms.dateCopyrighted" content="2016">

	<!--personal css-->
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!--fullPage css-->
	<link rel="stylesheet" type="text/css" href="css/jquery.fullpage.css">

	<!--icons-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<!--bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!--jquery-->
	<script src="js/jquery-1.12.0.min.js"></script>

	<script>
		$(document).ready(function(){
			//initialize page
			function initialization(){
				$('#myContainer').fullpage({
					anchors: ['1stPage', '2ndPage', '3rdPage', '4thPage'],
					autoScrolling: false,
					fitToSection: false,
					responsive: 700,
					scrollBar: true,
					scrollOverflow: false,
					resize: false,
				});
			}

			initialization();
			
		});
	</script>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapseMenu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<li menuanchor="1stPage">
                	<a class="navbar-brand" href="#1stPage">Hack RHS</a>
				</li>
            </div>
            <div class="collapse navbar-collapse" id="collapseMenu">
                <ul class="nav navbar-nav">
                  	<li id="1" menuanchor="2ndPage">
                  		<a href="#2ndPage">About</a>
                  	</li>
                  	<li id="2" menuanchor="3rdPage">
                    	<a href="#3rdPage">Sponsors</a>
                  	</li>
                  	<li id="3" menuanchor="4thPage">
                    	<a href="#4thPage">FAQ</a>
                  	</li>
                  	<li>
                    	<a href="https://hackrhs.typeform.com/to/YqP4cT">Sign Up</a>
                  	</li>
                </ul>
            </div>
    	</nav>
	<div id="myContainer">
		<div class="section" id="index">
			<div class="wrapper">
				<div class="b_container">
					<div class="row text-center">
						<h1>Hack RHS</h1>
					</div>
					<hr>
					<div class="row">
						<div class="col-lg-4 text-center">
							<img width="200px" height="200px" src="images/logo.png">
							<h3>A Tradition of Excellence</h3>
						</div>
						<div class="col-lg-4">
							<h2>May 28-29, 2016</h2>
							<h2>627 East Ridgewood Ave.</h2>
							<h2>Ridgewood, NJ</h2>
							<h2>07450</h2>
						</div>
						<div class="col-lg-4">
							<a href="https://hackrhs.typeform.com/to/YqP4cT" target="_blank"><button id="student" class="btn btn-default">
								<h3>Students</h3>
							</button></a>
							<br>
							<button id="sponsorBtn" class="btn btn-default">
								<h3>Sponsors</h3>
							</button>
						</div>
					</div>
				</div>	
			</div>
		</div>
		<div class="section" id="about">
			<div class="row text-center">
				<h1>About Us</h1>
			</div>
			<div class="row text-center">
				<div class="fit">
					<h3>HackRHS 2016 is the first ever annual Ridgewood High School Hackathon. All participants are welcome, regardless of prior coding experience. Our mission is to create an environment that helps students explore programming and meet new friends. We hope you can sign up for HackRHS! Click <a href="https://hackrhs.typeform.com/to/YqP4cT" target="_blank">here</a> to join us and take part in our passion for code! <i class="fa fa-heart"></i></h3>
				</div>
			</div>
		</div>
		<div class="section" id="sponsor">
			<div class="wrapper" id="s_text">
				<br>
				<div class="text-center">
					<h1 id="s_header">Sponsors</h1>
				</div>
				<br>
				<div class="text-center">
					<h3 class="text-center">Interested in Supporting HackRHS? Contact us at <a href="mailto:hackrhs@gmail.com">hackrhs@gmail.com</a> we would love to have you!!!</h3>
				</div>
			</div>
		</div>
		<div class="section" id="faqs">
			<div class="fit">
				<div class="row text-center">
					<h1>Frequently Asked Questions</h1>
				</div>
				<hr>
				<div class="row">
					<div class="col-lg-3">
						<h2>When and Where Is HackRHS?</h2>
						<p>HackRHS is at Ridgewood High School in Ridgewood, NJ</p>
						<b>627 East Ridgewood Avenue, 07450</b>
						<p>The event takes place on May 28th through May 29th, specific times are still to be determined</p>
					</div>
					<div class="col-lg-3">
						<h2>What Is a Hackathon?</h2>
						<p>No, you will not be invading anyone's privacy. A hackathon is a "building contest" among programmers in which participants compete to see who can build the best website, game, or app. No previous coding experience is required.</p>
					</div>
					<div class="col-lg-3">
						<h2>How Much Does It Cost?</h2>
						<p>HackRHS is free for all participants, however transportation costs will not be reimbursed and while food is free energy drinks will be sold.</p>
					</div>
					<div class="col-lg-3">
						<h2>Can I Leave HackRHS and Return During the Event?</h2>
						<p>Any participant that leaves Ridgewood High School during the event will not be allowed to re-enter. Participants should arrive at the high school on time before the opening ceremony to avoid any confusion.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<h2>But I don't Know How To Code?</h2>
						<p>No experience, no problem! At HackRHS, there are several peers and mentors who will help you learn the basics of programming so you can starts building on your own.</p>
					</div>
					<div class="col-lg-3">
						<h2>I'm Not An RHS Student, Can I Still Attend?</h2>
						<p>Absolutely! Any student in High School and Middle School can be a hacker regardless of what school he/she attends. Are you a college student? You can still get involved! <a href="mailto:hackrhs@gmail.com">contact us</a> to become a mentor.</p>
					</div>
					<div class="col-lg-3">
						<h2>Can I Start My Hack (Project) Before Arriving At HackRHS?</h2>
						<p>No. All hacks up for review must be started after the HackRHS opening ceremony. If judges find out that a hack was built prior to the event, the participant will be disqualified from the contest.</p>
					</div>
				</div>
				<br>
				<div class="row">
					<h2>Would you like to sign up for HackRHS??? Click <a href="https://hackrhs.typeform.com/to/YqP4cT" target="_blank">HERE</a> to get started!</h2>
				</div>
			</div>
		</div>
		<footer>
			<div class="wrapper">
				<div class="row">
					<div class="col-lg-4 text-center">
						<img width="200px" height="200px"src="images/logo.png">
					</div>
					<div class="col-lg-4 text-center">
						<h3>Contact Us:</h3>
						<br>
						<b>Ridgewood High School<br>627 East Ridgewood Avenue<br>Ridgewood, NJ, 07450</b>
					</div>
					<div class="col-lg-4 text-center">
						<a href="mailto:hackrhs@gmail.com" target="_blank"><i class="fa fa-envelope fa-3x"></i></a>
						<br>
						<a href="#"><i class="fa fa-github-alt fa-3x"></i></a>
						<br>
						<a href="#"><i class="fa fa-twitter fa-3x"></i></a>
						<br>
						<a href="#"><i class="fa fa-facebook fa-3x"></i></a>
					</div>
				</div>
				<div class="row text-center">
					<p>Copyright &copy;2016 HackRHS All Rights Reserved</p>
				</div>
			</footer>
		</div>
	</div>

	<!--bootstrap-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!--scroll-->
	<script src="js/jquery.fullPage.min.js"></script>

	<!--personal js-->
	<script src="js/main.js"></script>
</body>
</html>


